<html>
<head>
</head>
<body>
<div class="container">
  <form action="index.html" class="login">
  <div class="inp">
      <input type="email" name="email" class="login-input" placeholder="Email Address" autofocus>
      <input type="password" name="password" class="login-input" placeholder="Password">
      <br><br>
  </div>

    <div class="butn">
      <input type="submit" value="Login" class="login-submit">
      <a href="index.html" class="fp">Forgot password?</a>
    </div>

  </form>
</div>

</body>
</html>
